.outer {
  padding: 80px 0;
  justify-content: center;
  display: flex;
  text-align: center;
}
.cardDec {
  width: 305px;
  box-shadow: 0 5px 10px;
  border: 2px solid #dddfe2;
}
.m6 {
  margin: 6px 0 !important;
}
.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}
.pt20 {
  padding-top: 20px;
}
a {
  text-decoration-line: none;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
